.assortment__item {
  display: flex;
  align-items: center;
}

.assortment__img {
  width: 28.25rem;
  height: 28.25rem;
  margin-right: 3.6875rem;
}

.assortment__info {
  display: flex;
  flex-direction: column;
}

.assortment__description {
  width: 5.6875rem;
  height: 5.6875rem;
  background: #9a9a9a;
  background-repeat: 0.16rem;
  position: relative;
  margin-bottom: 1.5625rem;
}

.description__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.assortiment__icon {
  height: 100%;
  width: 100%;
}

.assortment__property {
  display: flex;
  margin-bottom: 1.5rem;
}

.property__item {
  display: flex;
  flex-direction: column;
  margin-right: 5.375rem;
}

.assortment__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.assortment__text {
  color: #666666;
  margin-bottom: 1.6875rem;
}

.property__title {
  color: #666666;
}

.property__text {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}

.assortment__offer {
  display: flex;
  align-items: center;
}

.assortment__price {
  font-size: 36px;
  color: #151515;
  margin-right: 13px;
}

@media (max-width: 768px) {
  .assortment__item {
    display: flex;
    flex-direction: column;
    min-width: 614px;
    align-items: center;
    text-align: center;
  }

  .assortment__img {
    width: 19.125rem;
    height: 19.125rem;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .assortment__description {
    display: none;
  }

  .assortment__property {
    justify-content: center;
    padding-left: 10%;
  }

  .property__item {
    text-align: left;
  }

  .assortment__offer {
    justify-content: center;
  }

  .assortment__price {
    font-size: 40px;
    margin-right: 40px;
  }
}
