.assortment {
  background: #f8faf9;
  display: flex;
  position: relative;
}

.assortment__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13.5px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.assortment__control--left {
  left: -4%;
}

.assortment__control--right {
  right: -4%;
}
