.assortment {
  background: #f8faf9;
  display: flex;
  position: relative;
}

.assortment__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13.5px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.assortment__control--left {
  left: -4%;
  margin-left: 13.5px;
}

.assortment__control--right {
  right: -4%;
  margin-right: 13.5px;
}

@media (max-width: 768px) {
  .assortment__control--left {
    left: 9%;
    top: 26%;
  }

  .assortment__control--right {
    right: 9%;
    top: 26%;
  }
}

@media (max-width: 480px) {
  .assortment__control--left {
    left: 5%;
  }

  .assortment__control--right {
    right: 5%;
  }
}
