.assortment {
  background: #f8faf9;
  display: flex;
  position: relative;
}
.arrow-left {
  position: absolute;
  left: -2.90625rem;
  top: 50%;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: -2.90625rem;
  top: 50%;
  cursor: pointer;
}
