.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &::before {
    content: url("/beats/img/advantages/shape.png");
    position: absolute;
    top: 63px;
    right: 0;
    transform: translateX(50%);
  }
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

.benefit {
  text-align: center;
}

.benefit__img {
  margin-bottom: 24px;
}

.benefit__img-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 24px;
}

.benefit__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 7px;
}

.benefit__desc {
  color: #666666;
}
