header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu {
  padding: 10px 30px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-size: 1.125rem;
  margin-right: 1.688rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #e01f3d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.contacts__phone {
  white-space: nowrap;
}

.contacts__img {
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 768px) {
  .menu,
.contacts {
    display: none;
  }
}